.pedals {
    padding-top: 1rem;
    font-size: 1rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 20px;
    gap: 1.5rem;
    box-sizing: border-box;
}

.coming-soon {
    padding-top: 18vh;
}

.coming-soon > img {
    width: 150px;
    height: 150px;
}
