.product {
    width: 90%;
    text-align: center;
}

.product img {
    width: 100%;
}

@media only screen and (min-width: 409px) {

    .product {
        width: 45%;
    }

}

@media only screen and (min-width: 750px) {

    .product {
        width: 32%;
    }

}

@media only screen and (min-width: 1080px) {

    .product {
        width: 23%;
    }

}
