.product {
    width: 49%;
    text-align: center;

    /* Creates gaps */
    border: 0 solid transparent;
    border-width: 0 20px 20px 0;
}

.product img {
    width: 100%;
}

@media only screen and (min-width: 1080px) {

    .product {
        width: 19%;
    }

}
